# Dependency directories
node_modules/
jspm_packages/

# temp files
package-lock.json
ScrapedDuck/boss-names.json
ScrapedDuck/changes.log
.env*

# my personal files
Presentation-of-project.pdf
Presentazione-del-progetto.pdf